@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital@1&family=Montserrat&family=Roboto:ital,wght@1,100&display=swap');
*{
    box-sizing: border-box;
}

@media (max-width:550px)

    {

        .ganhe{
            left: 20%;
        }
    }

@media (max-width:300px){
    .ganhe{
        left: 20%;
    }
}
body{
    background-image: url(fantastic-4805585_960_720.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.logo{
    margin-left: 50%;
    margin-top: 100px;
    transform: translate(-50%, -50%);
    width: 35%;
    left: 50%;  
    top: 50%;
    
}

.negrito{
    color: yellow;
}

h1{
    left: 0;
    margin-top: -6%;
    color: white;
    text-align: center;
    font-size: 22px;
    font-family: 'Arimo', sans-serif;
}



h2{
    margin-top: 1%;
    color: yellow;
    text-align: center;
    font-size: 16px;
    font-family: 'Arimo', sans-serif;
}  

form{
    margin-top: 15px;
    padding: 6px;
    border-radius: 5px;
    width: 100%;
}
input{
    padding: 15px;
    border-radius: 8px;
    width: 440px;
    height: 40px;
    
}

button{
    top: 15px;
    font-size: 15px;
    background-color: aqua;
    text-align: center;
    font-family: 'Arimo', sans-serif;
    border-radius: 8px;
    margin-top: 15px;
    padding: 10px;
    width: 450px;
    
}

a{
    text-decoration: none;
    color: white;
}

footer{
    padding-top: 8px;
    font-size: 12px;
    text-align: center;
    background-color: black;
    position: fixed;
    color: white;
    width: 100%;
    height: 50px;
    margin: auto;
    bottom: 0;
    left: 0px;
}

