@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
.btn{
    font-family:'Montserrat', sans-serif;
    background-color: #00FFCC;
    color: black;
    font-size: medium;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 248px;
    padding: 9px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 6px;
    cursor: pointer;
    position: fixed;
    top: 423px;
    left: 873px;
    font-family:'Montserrat', sans-serif;
}

#bt .btn{
    animation: none;
    animation-duration: 0s;
    animation-timing-function: ease-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: none
}



#email{
    max-width: max-content;
    text-align: center;
    background: white;
    width: 248px;
    padding: 9px;
    padding-left: 10px;
    margin-left: 5px;
    margin-top: 5px;
    border-radius: 6px;
    position: fixed;
    top: 382px;
    left: 858px;

}



body{
    background-image: url(LP.jpg);
}
a{
    color: rgb(223, 219, 219);
    text-decoration: none;
}

fieldset{
    border: 0;
}

.footer {
    background-color: black;
    color: rgb(223, 219, 219);
    text-align: center;
    font-size: small;
	position:absolute;
	bottom:0;
	width:100%;
}